{% extends 'base.html' %}

{% from 'macros.html' import link %}

{% block content %}
    <h2>Navigation</h2>
    {{ link('app.dashboard', 'Dashboard') }}
    {{ link('app.create_memory', 'Create memory') }}

    <h1>Memories</h1>

    {% if memories %}
        {% for memory in memories %}
            <div>
            <a href="{{ url_for('app.edit_memory', id=memory.id) }}">Edit</a>
            <a href="{{ url_for('app.delete_memory', id=memory.id) }}">Delete</a>
            {{ memory.prompt }}
            </div>
        {% endfor %}
    {% else %}
        <p>No memories</p>
    {% endif %}

{% endblock %}