{% extends 'base.html' %}

{% from 'macros.html' import link, input_errors %}

{% block content %}
<h1>Register</h1>

<form method="post">
  {{ form.hidden_tag() }}

  {{ form.username.label() }}
  {{ form.username }}
  {{ input_errors(form.username) }}

  {{ form.password.label() }}
  {{ form.password }}

  {{ form.password2.label() }}
  {{ form.password2 }}
  {{ input_errors(form.password2) }}

  <button>Register</button>
</form>

<p>Already have an account?</p>
{{ link('auth.login', 'Login') }}
{% endblock %}