body {
  background: black;
  color: white;
  font-family: 'Lucida Console', monospace;
  box-sizing: border-box;
}

a,
a:active {
  color: lightskyblue;
}

label,
input {
  display: block;
}


.success {
  color: lime;
}

.error {
  color: tomato;
}

.warning {
  color: yellow;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%)
}

/* --- Button --- */
button {
  border: 1px solid white;
  background: linear-gradient(to right, cyan 50%, black 50%);
  background-position-x: 100%;
  background-size: 201%;
  color: white;
  padding: 12px 24px;
  font-family: 'Lucida Console';
  margin-top: 26px;
  transition: .5s ease-in;
}

button:hover {
  color: black;
  background: linear-gradient(to right, cyan 50%, black 50%);
  background-position-x: 0%;
  background-size: 201%;
  transition: .5s ease-out;
}

/* --- Table --- */
table,
th,
td {
  border: 1px dashed white;
  border-spacing: 5px;
}

td {
  padding: 0 5px;
}