h1 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

label.memory {
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

textarea {
    padding: 2px;
    width: 100%;
    font-size: 26px;
    border: 0;
    background: black;
    color: white;
    resize: none;
    text-align: center;
}

textarea:focus {
    outline: none;
}

textarea:placeholder-shown {
    font-style: italic;
}

#separator {
    width: 500px;
    height: 3px;
    border: 3px dashed white;
    background: black;
    margin-top: 26px;
    margin-bottom: 26px;
}

div.error {
    text-align: center;
}

#status-container {
    display: inline-block;
    margin-bottom: 26px;
}

label.status {
    display: inline;
    padding: 8px;
}

input.status {
    display: none;
}

input.status:checked + label {
    border: 1px dashed black;
    background: cyan;
    color: black;
}

input.status:not(:checked) + label {
    color: slategray;
}