table, th, td {
    border: 1px dashed white;
    margin-top: 26px;
}

.bar {
    width: 300px;
    height: 26px;
}

#perfect-bar {
    width: 0%;
    height: 100%;
    background-color: lime;
}

#partial-bar {
    width: 0%;
    height: 100%;
    background: yellow;
}

#failed-bar {
    width: 0%;
    height: 100%;
    background: tomato;
}

.appt-box {
    margin-bottom: 15px;
}

.appt {
    border: 1px solid white;
    padding: 5px;
    font-weight: bold;
    color: black;
}

.next-appt {
    background: yellow;
}

.last-appt {
    background: lime;
}

.timestamp {
    font-style: italic;
    font-size: 12px;
}

.label {
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.content {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

#content-container {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 15px 0;
    padding: 15px 0;
}